extends layout

block content
  .container(style="padding-top: 80px")
    div(style="border: 1px solid lightgrey; padding: 15px; border-radius: 10px")
      .jumbotron.text-center 
        h1
          span.fa.fa-lock
          span Node Authentication
        
        p Login or Register with:
        
        a.btn.btn-default(href="/login")
          span.fa.fa-user 
          span  Local login
        a.btn.btn-default(href="/signup")
          span.fa.fa-user 
          span  Local Signup
          
        a(href="/auth/facebook" class="btn btn-primary")
          span.fa.fa-facebook
          span  Login with Facebook
