extends layout

block content
  .container(style="padding-top: 80px")
    .col-sm-6.col-sm-offset-3(style="border: 1px solid lightgrey; padding: 15px; border-radius: 10px")
      
      h1
        span.fa.fa-signin
        span  Singup
      
      if message != ""
        .alert.alert-danger #{message}
      
      form(action="/signup" method="post")
        .form-group
          label Email
          input(type="text" class="form-control" name="email")
          
        .form-group
          label Password
          input(type="password" class="form-control" name="password")
          
        button.btn.btn-warning.btn-lg(type="submit") Signup
        
      p 
        Already have an account?
        a(href="/signin")  Signin
      
      p
        Or go
        a(href="/")  Home.
